<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Voievoda.Fluentify</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-jd/6vovDtvBPsSZ4ZlNp4/uU6PpiU6f9UzGyVpJdMNHw19KuavMfzODZQ2CgDKzjkaVH0CEXeNJ7URiTHcBpyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fluentify.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-PNkFqw7mpu/w3sZjKUnn9XzhrV7ehu59B/fyVddwuTmRO0KvJf2zfY+nigZ1tL0acJ13bKG/ZMqRhheVEyM0oA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: #f0f0f0;
        }


        /* Style the navbar links */
        .navbar-nav .nav-link {
            font-weight: 500;
            color: white;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease;
        }

            /* Add hover effect to navbar links */
            .navbar-nav .nav-link:hover {
                color: #ffc107;
                text-shadow: none;
            }

        /* Style the footer */
        .footer {
            background-color: #1f1f1f;
            padding: 1rem 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

            /* Style the footer link */
            .footer a {
                color: white;
                transition: all 0.2s ease;
            }

                /* Add hover effect to footer link */
                .footer a:hover {
                    color: #ffc107;
                }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive; font-size: 36px;">MathCoach</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light py-3" style="position: fixed; bottom: 0; width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; 2023 - Voievoda Vladislav</p>
                </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
