@{
    ViewData["Title"] = "Chat Bot";
}

<!DOCTYPE html>
<html>
<head>
    <title>Chat Bot</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        #chat-container {
            max-width: 800px;
            width: 100%;
            margin: 20px auto;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

            #chat-container p {
                margin: 10px 0;
            }

        #chat-form {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #user-input {
            flex-grow: 1;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

            #user-input:focus {
                outline: none;
                border-color: #888;
            }

        #chat-form button {
            margin-left: 10px;
            padding: 5px 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

            #chat-form button:hover {
                background-color: #555;
            }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Chat Bot</h1>

    <div id="chat-container"></div>

    <form id="chat-form">
        <input type="text" id="user-input" placeholder="Задайте ваше питання" />
        <button type="submit">Надіслати</button>
    </form>

    <script src="/js/script_2.js"></script>
</body>
</html>

