@page
@model Fluentify.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>

    <p>
        A student from LNU University is undertaking a project where they aim to replicate the
        Duolingo website. By utilizing the Google Speech Recognition and Text-to-Speech APIs,
        they hope to create a tool that is both practical and efficient for language learning.
    </p>

    <p>
        Thank you for viewing this page
    </p>
</div>