@page
@model Fluentify.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About the Project</h1>
    <p>
        Я - студент LNU University, і я працюю над проектом створення тренажера для вивчення математики. Мій проект інспірований відомою сервісом Duolingo, і моя мета полягає в створенні практичного та ефективного інструменту для навчання математики за допомогою розпізнавання мови та тексту з використанням Google API.

        Я дуже радий, що Вас зацікавив мій проект.
    </p>

    <p>
        Thank you for your interest in our project. For more information and updates, please visit our GitHub repository:
    </p>

    <div class="d-grid gap-2 col-6 mx-auto my-4">
        <a class="btn btn-primary" href="https://github.com/Vladislav43" role="button">GitHub</a>
    </div>

    <p>
        Feel free to contact us if you have any questions or feedback:
    </p>

    <div class="d-grid gap-2 col-6 mx-auto my-4">
        <a class="btn btn-outline-primary" href="https://t.me/NiVlad2" role="button">Telegram</a>
    </div>
</div>