@page
@model UserService
@{
    ViewData["Title"] = "Register";
}

<style type="text/css">
    body {
        background-color: #0A3D62;
        color: #F5F5F5;
    }

    .error {
        color: #1BBC9B;
        font-size: 10px;
    }

    .form-group {
        margin-top: 20px;
    }

    h2 {
        color: #1BBC9B;
    }

    input[type=text], input[type=password], input[type=email] {
        background-color: #F5F5F5;
        border: none;
        color: #0A3D62;
        border-radius: 25px;
        padding: 10px;
    }

    .SubmitButton {
        position: relative;
        z-index: 1;
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: 600;
        padding: 1em 2em;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 0.5em;
        transition: all 0.3s ease-in-out;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 123, 255, 0.4);
        box-shadow: 0px 5px 40px -10px rgba(0, 123, 255, 0.4);
        border: none;
    }

        .SubmitButton:hover {
            background-color: #fff;
            color: #007bff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .SubmitButton span.btn-text {
            display: block;
        }

        .SubmitButton span.btn-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }

        .SubmitButton.loading span.btn-text {
            opacity: 0;
            visibility: hidden;
        }

        .SubmitButton.loading span.btn-loader {
            display: block;
     }

</style>

<br />
<h2 class="text-center"><b><span style="color:#FFFFFF">Create your profile</span></b></h2>
<br />
<div class="container d-flex justify-content-center align-self-center">
    <form method="post">
        <div class="form-group row">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@@</div>
                    </div>
                    <input asp-for="Users.Nickname" class="form-control" placeholder="Your nickname" />
                </div>
                <span asp-validation-for="Users.Nickname" class="error"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <input asp-for="Users.Email" type="email" class="form-control" placeholder="example@gmail.com" />
                <span asp-validation-for="Users.Email" class="error"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <input asp-for="Users.Password" type="password" class="form-control" placeholder="Your password">
                <span asp-validation-for="Users.Password" class="error"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <input asp-for="Users.ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                <span asp-validation-for="Users.ConfirmPassword" class="error"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <input type="submit" class="btn btn-dark rounded-pill form-control" asp-page-handler="Submit" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <p class="text-center">If you already have an account, click <a href="/login">here</a></p>
            </div>
        </div>
    </form>
</div>

        


@section Scripts {
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                // Check if the form is valid
                if (this.checkValidity() === false) {
                    // If the form is invalid, trigger HTML5 validation
                    $(this).find(':submit').click();
                } else {
                    // If the form is valid, show success message and redirect to login page
                    alert("You have successfully registered! Please log in to your account.");
                    window.location.href = "/login";
                }
            });
        });
    </script>
}


