<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/8ff73fa2-436d-4fd5-afa9-985fe0e353f9/resourcegroups/DefaultResourceGroup-NEU/providers/Microsoft.ContainerRegistry/registries/FluentifyCore20230323092751</ResourceId>
    <ResourceName>FluentifyCore20230323092751</ResourceName>
    <ResourceGroup>DefaultResourceGroup-NEU</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>fluentifycore20230323092751.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>